# Dependencies
node_modules/

# Next.js
.next/
out/

# Turbo
.turbo/

# Build output
dist/
build/

# Env files
.env*

# IDE
.vscode/
.idea/

# OS
.DS_Store

docs/working/

.editorconfig
.codexignore
.geminiignore
.agents/
*.old
playwright-report/
docs/

src-tauri/target
